<div *ngIf="showflag" style="margin-top: 40px;">
  <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
    <div style="display: flex; flex-direction: column;">
      <label>Workout Time (in seconds)</label>
      <input type="number" min="0" [(ngModel)]="workoutTime" placeholder="0">
    </div>

    <div style="display: flex; flex-direction: column;">
      <label>Break Time (in seconds)</label>
      <input type="number" min="0" [(ngModel)]="breakTime" placeholder="0">
    </div>

    <div style="display: flex; flex-direction: column;">
      <label>Total Sets</label>
      <input type="number" min="0" [(ngModel)]="totalSets" placeholder="0">
    </div>
  </div>

  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <button [disabled]="workoutTime == 0 && breakTime == 0 && totalSets == 0" style="font-size: 18px; width: auto; height: 40px; background: #015B41; border-radius: 4px; color: white;" (click)="start(); globalassign()">Start</button>
  </div>
</div>

<div *ngIf="!showflag" style="display: flex; justify-content: center; margin-top: 40px;">
  <div style="border-radius: 50%; width: 100px; height: 100px; border: 6px solid #e6ccff;">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <span *ngIf="workoutTime > 0" style="font-size: 40px;">{{ workoutTime }}</span>
      <span *ngIf="workoutTime == 0" style="font-size: 40px;">{{ breakTime }}</span>
    </div>
  </div>
</div>
